

.hero {
    background-image: url(../images/earth.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#welcometo{
    text-align: center;
    font-size: 40px;
}


.cityFacts {
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: space-around;
    align-content: center;
    font-size: 25px;
}


#state,#country,#region,#location1,#location2,#time{
    border-style: solid;
    border-color: white;
    max-width: 500px;
    min-width: 100px;
    padding: 10px;
    margin: 5px;
}


.section h1 h2{
    text-align: center;
}


#welcometo{
    text-align: center;
    font-size: 50px;
}


.section h1{
    text-align: center;
}


.search {
    text-align: center;
}


.button {
    align-items: center;
    margin-top: 5px;
    transition-duration: .2s;
}


#currentDate {
    color: rgb(38, 104, 158);
    text-align: center;
    font-size: 40px;
}


#day1Date,#day2Date,#day3Date,#day4Date {
    color: white;
    text-align: center;
    font-size: 35px;
}


span{
    color: white;
    
}


.card {
    background-color: rgb(27, 27, 27);
    padding: 10px;
}


.columns {
    justify-content: center;
}

.modal-content {
    background-color: aliceblue;
    justify-content: center;
    width: 500px;
    height: 300px;
}

.modal {
    height: auto
}

h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    margin-top: 15px;
    margin-bottom: 20px;
}

#help-text {
    margin: 15px;
    font-size: 18px;
    text-align: center;
}

#leave {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

