

.hero {
    background-image: url(../images/earth.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.search {
    text-align: center;
}


.button {
    align-items: center;
    margin-top: 5px;
    transition-duration: .2s;
}


.current-date-card{


    color: black;
    display: contents;

}


/* .card {
    background: rgba(0, 0, 0, 0.212);
    padding: 1em;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    margin: 10px;
    align-content: center;
} */

}

.columns {
    justify-content: center;
    
}

