

.hero {
    background-image: url(../images/earth.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.header{
    color: white;
    font-size: 80px;
}


.search {
    text-align: center;
}


.button {
    align-items: center;
    margin-top: 5px;
}


